.button {
    -fx-background-color: green;
    -fx-text-fill: white;
}
#button_three {
    -fx-background-color: blue;
    -fx-text-fill: white;
}

.button:hover {
    cursor: grab;
}

#exit_button {
    -fx-background-color: FireBrick;
    -fx-text-fill: white;
}